/* Reset */
*{margin: 0px; padding: 0px; top: 0px; bottom: 0px; font-family: 'Verdana';  font-size: 14px; box-sizing: border-box; appearance:none; -moz-appearance:none; -webkit-appearance:none; box-sizing: border-box;}
html, body{width: 100%;  height: 100%;}
body{background: #f7f7f7;}
br{clear: both;}
ul, ol{list-style: none;}
p{margin-bottom: 10px;}

/* grid */
.cols-1, .cols-2, .cols-3, .cols-4{
  position: relative;
  display: inline-block;
  float: left;

  min-height: 60px;
  width: 100%;

  background: #eee;
}
/* columns */
.col-1, .col-2, .col-3, .col-4{
  position: relative;
  display: inline-block;
  float: left;

  height: 50px;
  margin: 2%;

  background: #ccc;
  border: 1px solid black;
}

/* One column */
.cols-1 .col-1{
  width: 96%;
}

/* two columns */
.cols-2 .col-1{
  width: 46%;
}
.cols-2 .col-2{
  width: 92%;
}

/* three columns */
.cols-3 .col-1{
  width: 29%;
}
.cols-3 .col-2{
  width: 58%;
}
.cols-3 .col-3{
  width: 87%;
}

/* four columns */
.cols-4 .col-1{
  width: 21%;
}
.cols-4 .col-2{
  width: 42%;
}
.cols-4 .col-3{
  width: 63%;
}
.cols-4 .col-4{
  width: 84%;
}
