/* Floats */
.floats{
  display: inline-block;

  width: 47%;
  margin: 1%;
}
.box{
  margin: 1%;
  padding: 20px;
}
.mini-box{
  position: relative;
  display: inline-block;

  height: 14px;
  width: 20px;

  margin: 0px 5px;
}

/* Misc */
.float-left{
  float: left!important;
}
.float-right{
  float: right!important;
}

.w200{
  width: 200px;
}
.h200{
  height: 200px;
}

.pad10{
  padding: 10px;
}
.pad20{
  padding: 20px;
}

.Bccc{
  background-color: #ccc;
}
.Baaa{
  background-color: #aaa;
}
.bordered{
  border: 1px solid black;
}
