/* Reset */
*{margin: 0px; padding: 0px; top: 0px; bottom: 0px; font-family: 'Verdana';  font-size: 14px; box-sizing: border-box; appearance:none; -moz-appearance:none; -webkit-appearance:none; box-sizing: border-box;}
html, body{width: 100%;  height: 100%;}
body{background: #f7f7f7;}
br{clear: both;}
ul, ol{list-style: none;}
p{margin-bottom: 10px;}

/* columns */
.small-col, .medium-col, .big-col{
  position: relative;
  display: inline-block;
  float: left;

  width: 96%;
  height: 50px;
  margin: 2%;

  background: #ccc;
  border: 1px solid black;
}

.small-col{
  max-width: 200px;
}
.medium-col{
  max-width: 400px;
}
.big-col{
  max-width: 600px;
}
